@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
    :root {
        --color-bg-primary: white;
    }
    
    :root.dark {
        --color-bg-primary: black;
    }
}

@layer base {    
    body {
        background-color: var(--color-bg-primary);
        color: var(--color-text-primary);
    }
}